{% extends "layout.html" %}
{% block body %}
        <div class="right" data-v-08ed3729>
          <div id="heroIntro" class="md:mt-30" data-v-08ed3729>
            <div class="head" data-v-08ed3729>
              <h1 id="title" data-v-08ed3729>COLLEGE JAGAT</h1>
              <p id="subtext" data-v-08ed3729>
                Connecting Campuses, Empowering Minds
              </p>
            </div>
          </div>
        </div>
        <div class="card flex flex-row" data-v-3721fc03 data-v-08ed3729>
          <div class="image-wrapper" data-v-3721fc03>
            <div class="cardtop" data-v-3721fc03>
              <div class="name" data-v-3721fc03>About Us</div>
            </div>
            <div class="image" data-v-3721fc03>

              <iframe class="trailer" width="560" height="315"
                src="https://www.youtube.com/embed/2bd6sFfIt4I?si=DhvuEfk2bQbZIuqv" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                allowfullscreen></iframe>
              <style>

                @media only screen and (max-width: 349px) {
                 iframe {
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 155px;
                  }
                }

                @media only screen and (min-width: 350px)  {
                   iframe {
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 180px;
                  }
                }

                @media only screen and (min-width: 500px)  {
                   iframe {
                    box-sizing: border-box;
                    width: 100%;
                    height: 320px;
                  }
                }
                @media only screen and (min-width: 2180px)  {
                   iframe {
                    box-sizing: border-box;
                    width: 100%;
                    height: 380px;
                  }
                }
                @media only screen and (min-width: 2600px)  {
                   iframe {
                    box-sizing: border-box;
                    width: 100%;
                    height: 460px;
                  }
                }
              </style>
            </div>
          </div>
          <div class="content-wrapper" data-v-3721fc03>
            <div id="heading" data-v-3721fc03>
              <h1 data-v-3721fc03>About Collage Jagat</h1>
              <h2 data-v-3721fc03>About Collage Jagat</h2>
            </div>
            <div class="content" data-v-3721fc03>
              Welcome to College Jagat, your ultimate destination for all things college-related! Developed by
              Abhyudaya, the coding club of SVVV (Shri Vaishnav Vidyapeeth Vishwavidyalaya), we are dedicated to
              providing a comprehensive and insightful platform that caters to the diverse needs of college students and
              enthusiasts.
            </div>
          </div>
          <section id="mission">
            <div class="content-wrapper" data-v-3721fc03>
              <div id="heading" data-v-3721fc03>
                <h1 data-v-3721fc03>Our Mission</h1>
                <h2 data-v-3721fc03>Our Mission</h2>
              </div>
              <div class="design " data-v-3721fc03>
                At College Jagat, our mission is to be your trusted companion throughout your college journey. We aim to
                provide reliable information, valuable insights, and a supportive community to help you thrive
                academically and personally.
              </div>
            </div>
          </section>

        </div>
        <section id="about-me" class="features " style="padding-top: 10%">
          <div class="container" id="i18_about_me">
            <div id="heading" data-v-3721fc03>
              <h1 data-v-3721fc03>About Abhyudaya</h1>
              <h2 data-v-3721fc03>About Abhyudaya</h2>
            </div>


            <div class="heading-about">
              <img src="{{ url_for('static', filename='image/avatar.jpg')}}" height="110" width="110" class="img-responsive img-circle" alt="">
              <h1 class="subtitle">Coding Club of SVVV Indore</h1>
              <ul class="list-inline">
                <li style="padding: 2%">
                  <a title="Github" href="https://github.com/shivamshar03" target="blank">
                    <img class="about-icon" src="{{ url_for('static', filename='image/github.png')}}">
                  </a>
                </li>
                <li style="padding: 2%">
                  <a title="Facebook" href="https://www.facebook.com/" target="blank">
                    <img class="about-icon" src="{{ url_for('static', filename='image/instagram.png')}}">
                  </a>
                </li>
                <li style="padding: 2%">
                  <a title="Linkedin" href="https://www.linkedin.com/company/codingclub" target="blank">
                    <img class="about-icon" src="{{ url_for('static', filename='image/linkedin.png')}}">
                  </a>
                </li>
                <li style="padding: 2%">
                  <a Title="Mail" href="mailto:iitbhu.shivamshar0310@gmail.com">
                    <img class="about-icon" src="{{ url_for('static', filename='image/gmail.png')}}">
                  </a>
                </li>
              </ul>
            </div>

            <div class="about-content" data-v-3721fc03>

              <p><span data-i18n="about_me.des">In this age of increasing automation, programming is not limited
                  to only computer science and related fields. Every competent engineer needs to know how to
                  program. This makes coding club of SVVV one of the most important clubs in the
                  institute.</span></p>
              <p>In today's rapidly changing world, coding skills are essential for success in a
                variety of
                fields.
                A coding club of SVVV would provide students with the opportunity to learn and practice coding,
                network with other students who are interested in coding, and participate in coding competitions
                and hackathons.</p>
              <p>Unite, Innovate, learn Together: Our Club is a vibrant ecosystem where aspiring and seasoned
                coderscollaborate seamlessly, fuelled by the passion for technology. Together, we embark on
                a journey of continuous learning, transforming ideas into reality and pushing the boundaries
                of innovation, while nurturing a spirit of camaraderie and excellence.</p>
            </div>

          </div>
        </section>
      {% endblock %}


        