{% extends "layout.html" %}
{% block body %}
                <div class="card flex flex-row" data-v-3721fc03 data-v-08ed3729>
                    <div class="content-wrapper" data-v-3721fc03>
                      <div id="heading" data-v-3721fc03>
                        <h1 data-v-3721fc03>Lost and Found</h1>
                        <h2 data-v-3721fc03>Lost and Found</h2>
                      </div>
                      <div class="content" data-v-3721fc03>
                       <p> Lost something on campus or found an item that doesn't belong to you? College Jagat's Lost and Found is here to assist you. Click to visit our Lost and Found section to reclaim or report lost items. Let's bring our community together in finding what's lost! </p>
                       <span class="highlight"><p>If you lost something or found somthing then you can call us.</p></span>
                      </div>
                    </div>
                </div>
                {% endblock %}