{% extends "layout.html" %}
{% block body %}
                <section id="news">
                    <div class="content-wrapper" data-v-3721fc03>
                        <div id="heading" data-v-3721fc03>
                            <h1 data-v-3721fc03>News</h1>
                            <h2 data-v-3721fc03>News</h2>
                        </div>
                        <div class="news-design" data-v-3721fc03>
                            sorry! this section is under development.
                            <br>we will soon ...
                        </div>
                    </div>
                </section>
                <style>
                    #news {
                        margin: 100px;
                        margin-left: 500px;
                        margin-right: 50px;
                        margin-top: 100px;
                    }

                    .news-design {
                        font-weight: 400;
                        font-size: 30px;
                        color: blanchedalmond;
                        text-align: center;
                        border-radius: 10px;
                        box-shadow: 15px 15px 30px #217489;
                        position: relative;
                        padding-left: 40px;
                        padding-right: 40px;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        margin: auto;
                    }
                </style>
                {% endblock %}