{% extends "layout.html" %}
{% block body %}
                <section id="calender">
                    <div class="content-wrapper" data-v-3721fc03>
                        <div id="heading" data-v-3721fc03>
                            <h1 data-v-3721fc03>Acadmic Calendar</h1>
                            <h2 data-v-3721fc03>Acadmic Calendar</h2>
                        </div>
                        <h1 class="calender-heading" data-v-3721fc03>Shri Vaishnav Vidyapeeth Vishwavidyalaya, Indore
                        </h1>
                        <div class="calender-design" data-v-3721fc03>
                            <img src="{{ url_for('static', filename='image/ss1.png')}}" alt="Acadmic calender">
                            <img src="{{ url_for('static', filename='image/ss2.png')}}" alt="Acadmic calender">
                            <img src="{{ url_for('static', filename='image/ss3.png')}}" alt="Acadmic calender">
                            <img src="{{ url_for('static', filename='image/ss4.png')}}" alt="Acadmic calender">
                            <img src="{{ url_for('static', filename='image/SS5.png')}}" alt="Acadmic calender">


                        </div>
        </section>
        <style>
            .calender-heading {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 35px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 800;
                color: rgb(9, 127, 127);
                margin-top: 90px;
                margin-bottom: 60px;
                margin-inline: -120px;
            }

            @media only screen and (max-width: 1025px) {
                .calender-heading {

                    font-size: 20px;
                }
            }

            @media only screen and (max-width: 600px) {
                .calender-heading {

                    margin-inline: -20px;
                    margin-top: -30px;
                }
            }


            #calender {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 100px;
            }

            .calender-design {
                font-weight: 400;
                font-size: 30px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0px 0px 20px 20px #217489;
                position: relative;
                margin: auto;
            }
        </style>
        {% endblock %}